## Lab Handling Imbalanced Data & Cross Validation

Continuation of Labs 7.2 & 7.3 in previous Notebook up until train_test_split

## Round 3

- apply K-fold cross validation on your models before and check the model score. Note: So far we have not balanced the data.

## Data Preprocessing

In [20]:
import pandas as pd

In [21]:
churnData = pd.read_csv('DATA_Customer-Churn.csv') # import csv, create dataframe

In [22]:
churnData # display dataframe

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [23]:
churnData.info() # get overview of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [24]:
# Count null values in each column of the DataFrame
null_counts = churnData.isnull().sum()

# Print the null value counts
print(null_counts)

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [25]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce') # By adding errors='coerce', the function will convert non-numeric values to NaN, 
# allowing the conversion to proceed without raising an error.

In [26]:
# Print the null value counts
print(null_counts)

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [27]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7032 non-null   float64
 15  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 880.5+ KB

In [28]:
# Filter the DataFrame to show only entirely duplicated rows
duplicate_rows = churnData[churnData.duplicated(keep=False)]

# Print the duplicated rows
print(duplicate_rows)

      gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
22      Male              0      No         No       1          Yes
33      Male              0      No         No       1          Yes
100     Male              0      No         No       1          Yes
128     Male              0      No         No       1          Yes
211   Female              0      No         No       1           No
...      ...            ...     ...        ...     ...          ...
6706  Female              0      No         No       1          Yes
6764  Female              0      No         No       1          Yes
6774  Female              0      No         No       1          Yes
6789  Female              0      No         No       1          Yes
6924    Male              0      No         No       1          Yes

           OnlineSecurity         OnlineBackup     DeviceProtection  \
22    No internet service  No internet service  No internet service
33    No internet service  No internet service  No internet service
100   No internet service  No internet service  No internet service
128   No internet service  No internet service  No internet service
211                    No                   No                   No
...                   ...                  ...                  ...
6706  No internet service  No internet service  No internet service
6764                   No                   No                   No
6774  No internet service  No internet service  No internet service
6789  No internet service  No internet service  No internet service
6924                   No                   No                   No

              TechSupport          StreamingTV      StreamingMovies  \
22    No internet service  No internet service  No internet service
33    No internet service  No internet service  No internet service
100   No internet service  No internet service  No internet service
128   No internet service  No internet service  No internet service
211                    No                   No                   No
...                   ...                  ...                  ...
6706  No internet service  No internet service  No internet service
6764                   No                   No                   No
6774  No internet service  No internet service  No internet service
6789  No internet service  No internet service  No internet service
6924                   No                   No                   No

            Contract  MonthlyCharges  TotalCharges Churn
22    Month-to-month           20.15         20.15   Yes
33    Month-to-month           20.20         20.20    No
100   Month-to-month           20.20         20.20    No
128   Month-to-month           19.75         19.75    No
211   Month-to-month           25.25         25.25    No
...              ...             ...           ...   ...
6706  Month-to-month           19.90         19.90    No
6764  Month-to-month           69.20         69.20   Yes
6774  Month-to-month           19.65         19.65    No
6789  Month-to-month           20.20         20.20   Yes
6924  Month-to-month           69.35         69.35   Yes

[83 rows x 16 columns]

In [29]:
# Drop entirely duplicated rows from the DataFrame
churnData.drop_duplicates(inplace=True)

In [30]:
# List of columns to keep
columns_to_keep = ['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges', 'Churn']

# Drop all columns except the ones in columns_to_keep
churnData.drop(columns=churnData.columns.difference(columns_to_keep), inplace=True)
churnData

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges Churn
0                 0       1           29.85         29.85    No
1                 0      34           56.95       1889.50    No
2                 0       2           53.85        108.15   Yes
3                 0      45           42.30       1840.75    No
4                 0       2           70.70        151.65   Yes
...             ...     ...             ...           ...   ...
7038              0      24           84.80       1990.50    No
7039              0      72          103.20       7362.90    No
7040              0      11           29.60        346.45    No
7041              1       4           74.40        306.60   Yes
7042              0      66          105.65       6844.50    No

[6994 rows x 5 columns]

In [31]:
# Assuming churn is my target variable

churnData['Churn'].nunique

<bound method IndexOpsMixin.nunique of 0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 6994, dtype: object>

In [32]:
churnData['Churn']=churnData['Churn'].map({'No': 0, 'Yes': 1})

In [33]:
churnData

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges  Churn
0                 0       1           29.85         29.85      0
1                 0      34           56.95       1889.50      0
2                 0       2           53.85        108.15      1
3                 0      45           42.30       1840.75      0
4                 0       2           70.70        151.65      1
...             ...     ...             ...           ...    ...
7038              0      24           84.80       1990.50      0
7039              0      72          103.20       7362.90      0
7040              0      11           29.60        346.45      0
7041              1       4           74.40        306.60      1
7042              0      66          105.65       6844.50      0

[6994 rows x 5 columns]

In [34]:
churnData = churnData.dropna()

In [35]:
# Reset the index of the DataFrame
churnData.reset_index(drop=True, inplace=True)

## Split data into train and test set

In [36]:
from sklearn.model_selection import train_test_split

X = churnData[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]
y = churnData['Churn']

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

log_model = LogisticRegression() 

## Data splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=11)

In [44]:
y_train.value_counts(normalize=False)

Churn
0    4128
1    1458
Name: count, dtype: int64

In [45]:
NEG_CLASS_CNT = 4128 # number of negative labels

In [47]:
print("The majority class (negative cases) represents {:.2f}% of the data".format(NEG_CLASS_CNT/len(y_train)*100))

The majority class (negative cases) represents 73.90% of the data

In [48]:
data = pd.concat([X_train, y_train], axis=1)

In [49]:
data.head()

      tenure  SeniorCitizen  MonthlyCharges  TotalCharges  Churn
6163      25              0           54.75       1266.35      0
5812      17              0           88.25       1460.65      1
5340       2              0           80.25        144.55      1
941       32              1           91.35       2896.55      0
1957      20              0           19.35        433.75      0

In [52]:
data.shape

(5586, 5)

## Balancing the data - Downsampling

In [53]:
category_0 = data[data['Churn'] == 0] # negative class (majority)
category_1 = data[data['Churn'] == 1] # positive class (minority)

In [54]:
print(category_0.shape)
print(category_1.shape)

(4128, 5)
(1458, 5)

In [55]:
c1_len = len(category_1)
c1_len

1458

In [56]:
# downsample the majority class to the size of the positive class using pandas sample method
category_0_down = category_0.sample(c1_len)
print(category_0_down.shape)
print(category_1.shape)

(1458, 5)
(1458, 5)

In [57]:
# reassemble the data
data = pd.concat([category_0_down, category_1], axis=0)
# shuffle the data
data = data.sample(frac=1) # frac specifies ratio of the shuffled output to the input size. for frac=1 the number of rows is unchanged
data['Churn'].value_counts()

Churn
0    1458
1    1458
Name: count, dtype: int64

In [58]:
data

      tenure  SeniorCitizen  MonthlyCharges  TotalCharges  Churn
6742      19              0           89.35       1686.85      0
1690      21              0          104.40       2200.25      1
6540      26              0           59.45       1507.00      0
1059      24              0           89.25       2210.20      0
3582      39              0           75.25       3017.65      1
...      ...            ...             ...           ...    ...
991        2              0           70.30        132.40      0
3033      65              0          104.10       6700.05      0
5447      33              0           20.15        682.15      0
3536      26              0           80.50       2088.80      1
1661      41              0          113.60       4594.95      1

[2916 rows x 5 columns]

## Cross Validation

In [59]:
import numpy as np
import pandas as pd

from sklearn.datasets import fetch_california_housing
from sklearn.datasets import load_breast_cancer
from sklearn.datasets import load_iris

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
import warnings
warnings.filterwarnings('ignore')

In [61]:
model = DecisionTreeRegressor(max_depth=5)
model.fit(X_train, y_train)

print("X_train has %d rows and %d columns"  %(X_train.shape[0],X_train.shape[1]))
print("-----------------------------------")
print("The coefficient of determination for the test data is R2=%.2f"
      %(model.score(X_test, y_test)))
print("The coefficient of determination for the train data is R2=%.2f"
      %(model.score(X_train, y_train)))

X_train has 5586 rows and 4 columns
-----------------------------------
The coefficient of determination for the test data is R2=0.28
The coefficient of determination for the train data is R2=0.28

In [62]:
scores=cross_val_score(model, X_train, y_train, cv=5)
print("Cross validation scores: ", scores)
print("Score stats: %0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

Cross validation scores:  [0.25674696 0.21051727 0.21000202 0.21535204 0.24090086]
Score stats: 0.23 accuracy with a standard deviation of 0.02

In [63]:
model = DecisionTreeClassifier(max_depth = 5)
model.fit(X_train, y_train)
print("The (mean) accuracy on the test set is %.2f" %(model.score(X_test, y_test)))
print("The (mean) accuracy on the train data is %.2f" %(model.score(X_train, y_train)))

The (mean) accuracy on the test set is 0.79
The (mean) accuracy on the train data is 0.80

In [64]:
scores=cross_val_score(model, X_train, y_train, cv=5) # 5 cv foldings
scores

array([0.7960644 , 0.78513876, 0.782453  , 0.78603402, 0.78603402])

In [65]:
print("Five-fold cv results: \n %0.2f mean accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

Five-fold cv results:
 0.79 mean accuracy with a standard deviation of 0.00

In [66]:
y_test

152     0
5897    1
172     1
6581    1
370     1
       ..
1151    0
2416    1
6175    0
2900    0
1754    0
Name: Churn, Length: 1397, dtype: int64

In [67]:
y_pred = cross_val_predict(model, X_train, y_train, cv=5)
y_pred

array([0, 0, 1, ..., 0, 0, 0])

### Model accuracy

In [69]:
model1 = DecisionTreeClassifier()
model2 = LogisticRegression()
model3 = KNeighborsClassifier()

model_pipeline = [model1, model2, model3]
model_names = ['Classification Tree', 'Logistic Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Classification Tree': 0.7164299338728352, 'Logistic Regression': 0.7892923320355603, 'KNN': 0.7658420923666286}

In [75]:
print("Comparing the 3 regression scores we find \n")

pd.DataFrame([scores], index=["accuracy"])

Comparing the 3 regression scores we find

          Classification Tree  Logistic Regression       KNN
accuracy             0.459242             0.644592  0.565664

### Model recall

In [76]:
model1 = DecisionTreeClassifier()
model2 = LogisticRegression()
model3 = KNeighborsClassifier()

model_pipeline = [model1, model2, model3]
model_names = ['Classification Tree', 'Logistic Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5, scoring="recall"))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Classification Tree': 0.47324530433554585, 'Logistic Regression': 0.4327707950854399, 'KNN': 0.4416701972414442}

In [77]:
print("Comparing the 3 regression scores we find \n")

pd.DataFrame([scores], index=["recall"])

Comparing the 3 regression scores we find

        Classification Tree  Logistic Regression      KNN
recall             0.473245             0.432771  0.44167

### Model precision

In [78]:
model1 = DecisionTreeClassifier()
model2 = LogisticRegression()
model3 = KNeighborsClassifier()

model_pipeline = [model1, model2, model3]
model_names = ['Classification Tree', 'Logistic Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5, scoring="precision"))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Classification Tree': 0.46848150516531595, 'Logistic Regression': 0.6445919479731599, 'KNN': 0.5656637697183583}

In [79]:
print("Comparing the 3 regression scores we find \n")

pd.DataFrame([scores], index=["precision"])

Comparing the 3 regression scores we find

           Classification Tree  Logistic Regression       KNN
precision             0.468482             0.644592  0.565664

### Summary

In [82]:
scores_df = pd.DataFrame([scores], index=["score"])
recall_df = pd.DataFrame([scores], index=["recall"])
precision_df = pd.DataFrame([scores], index=["precision"])

# Concatenate the DataFrames
result_df = pd.concat([scores_df, recall_df, precision_df])

# Print the result
print("Comparison of Scores, Recall, and Precision:")
result_df

Comparison of Scores, Recall, and Precision:

           Classification Tree  Logistic Regression       KNN
score                 0.468482             0.644592  0.565664
recall                0.468482             0.644592  0.565664
precision             0.468482             0.644592  0.565664