# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [51]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_data = pd.read_csv(url)

In [52]:
insurance_data_df = pd.DataFrame(insurance_data)

In [53]:
insurance_data_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [54]:
# Your code here


def make_headers_lowercase(df):
    # Make column headers lowercase
    df.columns = df.columns.str.lower()
    return df

insurance_data_df = make_headers_lowercase(insurance_data_df)

insurance_data_df

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
insurance_data_df.rename(columns= {'st': 'state'}, inplace=True)
print(insurance_data_df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [56]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", 
# which need to be standardized, for example, to "M" and "F"

insurance_data_df['gender_mapped'] = insurance_data_df['gender'].map({'Femal': 'F', 'Male': 'M', 'female': 'F'})

In [57]:
insurance_data_df['gender_mapped'].describe() #sanity check that change has been implemented; count of 2 under unique implies that change was successful

count     84
unique     2
top        F
freq      45
Name: gender_mapped, dtype: object

In [58]:
print(insurance_data_df.columns) # Here we can see that 'gender_mapped' column is added

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount', 'gender_mapped'],
      dtype='object')

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [59]:
# Customer lifetime value should be numeric

insurance_data_df['customer lifetime value'] = pd.to_numeric(insurance_data_df['customer lifetime value'].str.rstrip('%'), errors='coerce')

In [60]:
insurance_data_df['customer lifetime value']

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer lifetime value, Length: 4008, dtype: float64

In [61]:
insurance_data_df['number of open complaints']

0       1/0/00
1       1/0/00
2       1/0/00
3       1/0/00
4       1/0/00
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: number of open complaints, Length: 4008, dtype: object

In [63]:
insurance_data_df['number of open complaints'] = insurance_data_df['number of open complaints'].str.split('/').str[1]

In [64]:
insurance_data_df['number of open complaints']

0         0
1         0
2         0
3         0
4         0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: number of open complaints, Length: 4008, dtype: object

In [65]:
insurance_data_df['number of open complaints'].nunique()

6

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [67]:
# Identify any columns with null or missing values. 
# Identify how many null values each column has. 
# You can use the isnull() function in pandas to find columns with null values.

insurance_data_df.isna().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer lifetime value      2940
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
gender_mapped                3924
dtype: int64

In [69]:
# A null value in 'customer' implies no customer id; it is meaningful to group these customers by a 'no id' attribute

insurance_data_df['customer'] = insurance_data_df['customer'].fillna('no id')

In [70]:
insurance_data_df['customer'].isna().sum() # With 0 returned, we can show that this change has been implemented

0

In [71]:
# As the group of customers with no 'state' value represent a majority of customers, it would be overly drastic to exclude them. As such, we apply 'state unknown'

insurance_data_df['state'] = insurance_data_df['state'].fillna('state unknown')

In [84]:
# As the group of customers with no 'gender' value represent a majority of customers, it would be overly drastic to exclude them. As such, we apply 'gender unknown'

insurance_data_df['gender'] = insurance_data_df['gender'].fillna('gender unknown')
insurance_data_df['gender_mapped'] = insurance_data_df['gender_mapped'].fillna('gender unknown')

In [73]:
insurance_data_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [74]:
# On education, it is reasonable to assume that a null value equals 'High School or Below' in most cases 

insurance_data_df['education'] = insurance_data_df['education'].fillna('High School or Below')

In [77]:
# On customer lifetime value, it is reasonable to assume that a null value equals 0 in most cases

insurance_data_df['customer lifetime value'] = insurance_data_df['customer lifetime value'].fillna('0')

In [78]:
# On income, it is reasonable to assume that a null value equals 0 in most cases

insurance_data_df['income'] = insurance_data_df['income'].fillna('0')

In [79]:
# On monthly premium auto, it is reasonable to assume that a null value equals 0 in most cases

insurance_data_df['monthly premium auto'] = insurance_data_df['monthly premium auto'].fillna('0')

In [80]:
# On number of open complaints, it is reasonable to assume that a null value equals 0 in most cases

insurance_data_df['number of open complaints'] = insurance_data_df['number of open complaints'].fillna('0')

In [81]:
# A null value in 'policy type' implies that customer has no active policy; it is meaningful to group these customers by a 'no active policy' attribute

insurance_data_df['policy type'] = insurance_data_df['policy type'].fillna('no active policy')

In [82]:
insurance_data_df['vehicle class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [83]:
# A null value in 'vehicle class' implies vehicle is unknown

insurance_data_df['vehicle class'] = insurance_data_df['vehicle class'].fillna('vehicle unknown')

In [85]:
# On total claim amount, it is reasonable to assume that a null value equals 0 in most cases

insurance_data_df['total claim amount'] = insurance_data_df['total claim amount'].fillna('0')

In [86]:
insurance_data_df.isna().sum() # Confirm that changes have been implemented

customer                     0
state                        0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
gender_mapped                0
dtype: int64

In [89]:
# After formatting data types, as a last step, convert all the numeric variables to integers.

insurance_data_df.info()

# Am struggling to achieve this (effort below)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   4008 non-null   object
 1   state                      4008 non-null   object
 2   gender                     4008 non-null   object
 3   education                  4008 non-null   object
 4   customer lifetime value    4008 non-null   object
 5   income                     4008 non-null   object
 6   monthly premium auto       4008 non-null   object
 7   number of open complaints  4008 non-null   object
 8   policy type                4008 non-null   object
 9   vehicle class              4008 non-null   object
 10  total claim amount         4008 non-null   object
 11  gender_mapped              4008 non-null   object
dtypes: object(12)
memory usage: 375.9+ KB

In [91]:
insurance_data_numeric_columns = insurance_data_df.select_dtypes(object).columns

In [92]:
insurance_data_numeric_columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount', 'gender_mapped'],
      dtype='object')

In [93]:
insurance_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   4008 non-null   object
 1   state                      4008 non-null   object
 2   gender                     4008 non-null   object
 3   education                  4008 non-null   object
 4   customer lifetime value    4008 non-null   object
 5   income                     4008 non-null   object
 6   monthly premium auto       4008 non-null   object
 7   number of open complaints  4008 non-null   object
 8   policy type                4008 non-null   object
 9   vehicle class              4008 non-null   object
 10  total claim amount         4008 non-null   object
 11  gender_mapped              4008 non-null   object
dtypes: object(12)
memory usage: 375.9+ KB

In [94]:
insurance_data_numeric_columns_df = pd.DataFrame(insurance_data_numeric_columns)

In [95]:
insurance_data_numeric_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12 non-null     object
dtypes: object(1)
memory usage: 228.0+ bytes

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [96]:
# Your code here

insurance_data_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Length: 4008, dtype: bool

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here