# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [37]:
import pandas as pd

In [38]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

In [39]:
df = pd.read_csv(url)

In [40]:
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [42]:
high_claim = df['Total Claim Amount'] > 1000

In [43]:
high_claim

0        False
1        False
2        False
3        False
4        False
         ...
10905     True
10906    False
10907    False
10908    False
10909     True
Name: Total Claim Amount, Length: 10910, dtype: bool

In [44]:
df['Response'].unique()

array(['No', 'Yes', nan], dtype=object)

In [45]:
yes_customers = df['Response'] == "Yes"

In [46]:
yes_customers

0        False
1        False
2        False
3         True
4        False
         ...
10905    False
10906    False
10907    False
10908    False
10909    False
Name: Response, Length: 10910, dtype: bool

In [47]:
new_df = pd.DataFrame({'high_claim': high_claim, 'yes_customers': yes_customers})

In [48]:
new_df

       high_claim  yes_customers
0           False          False
1           False          False
2           False          False
3           False           True
4           False          False
...           ...            ...
10905        True          False
10906       False          False
10907       False          False
10908       False          False
10909        True          False

[10910 rows x 2 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [49]:
# Filter rows where 'Response' is "Yes"

yes_customers = df[df['Response'] == "Yes"]

# Group by the specified columns and calculate the sum of 'Total Claim Amount'

result = yes_customers.groupby(['Policy Type', 'Gender', 'Response'])[['Total Claim Amount']].mean()

result

                                Total Claim Amount
Policy Type    Gender Response
Corporate Auto F      Yes               433.738499
               M      Yes               408.582459
Personal Auto  F      Yes               452.965929
               M      Yes               457.010178
Special Auto   F      Yes               453.280164
               M      Yes               429.527942

In [50]:
sorted_result = result.sort_values('Total Claim Amount', ascending=False).round(2)
print(sorted_result)

                                Total Claim Amount
Policy Type    Gender Response
Personal Auto  M      Yes                   457.01
Special Auto   F      Yes                   453.28
Personal Auto  F      Yes                   452.97
Corporate Auto F      Yes                   433.74
Special Auto   M      Yes                   429.53
Corporate Auto M      Yes                   408.58

In [51]:
# Conclusions 

# Men with Personal Auto policy have highest average claim amount 
# Policy Type seems to have little bearing on average claim amount 
# Gender seems to have little bearing on average claim amount

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [60]:
df_state = df['State']

In [67]:
customer_count_by_state = df_state.value_counts()

# Filter states with more than 500 customers
states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state > 500]

states_with_more_than_500_customers

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [72]:
result = df.groupby(['Gender', 'Education'])[['Customer Lifetime Value']].agg(['max', 'min', 'mean', 'median'])
result

                            Customer Lifetime Value                            \
                                                max          min         mean
Gender Education
F      Bachelor                         73225.95652  1904.000852  7874.269478
       College                          61850.18803  1898.683686  7748.823325
       Doctor                           44856.11397  2395.570000  7328.508916
       High School or Below             55277.44589  2144.921535  8675.220201
       Master                           51016.06704  2417.777032  8157.053154
M      Bachelor                         67907.27050  1898.007675  7703.601675
       College                          61134.68307  1918.119700  8052.459288
       Doctor                           32677.34284  2267.604038  7415.333638
       High School or Below             83325.38119  1940.981221  8149.687783
       Master                           50568.25912  2272.307310  8168.832659


                                  median
Gender Education
F      Bachelor              5640.505303
       College               5623.611187
       Doctor                5332.462694
       High School or Below  6039.553187
       Master                5729.855012
M      Bachelor              5548.031892
       College               6005.847375
       Doctor                5577.669457
       High School or Below  6286.731006
       Master                5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here